<%- include('partials/header'); -%> <% if(message==="ok" ) { %>
<div id="message" class="ok">
  Logged in as <%= user.name.firstName + " " + user.name.lastName %>!
</div>
<% } %>

<div class="todos">
  <% if(user) { if (user.todos.length !=0) { %>
  <h2>Your Todos:</h2>
  <% user.todos.forEach(todo=> { %>
  <div class="todo">
    <img src="/todo.png" alt="todo list" />
    <h4><%= todo.title %></h4>
    <p><%= todo.body %></p>
    <button class="delete btn" data-id="<%= todo._id %>">Remove</button>
  </div>
  <% }) %> <% } else { %>
  <h2>No todos for you now!</h2>
  <% } %> <% }%>
</div>

<form>
  <h2>Add a to-do</h2>
  <label for="title">Title</label>
  <input type="text" name="title" />
  <label for="body">Body</label>
  <input type="text" name="body" />
  <button>Add</button>
</form>

<%- include('partials/footer'); -%>
<script>
  const form = document.querySelector("form");
  const todos = document.querySelectorAll(".todo");
  for (let i = 0; i < todos.length; i++) {
    todos[i].title = "Just do it lol!";
  }
  const deBtns = document.querySelectorAll(".delete");
  for (let i = 0; i < deBtns.length; i++) {
    deBtns[i].onclick = async (e) => {
      e.preventDefault();
      const id = deBtns[i].dataset.id;
      try {
        const res = await fetch("/deletePost", {
          method: "POST",
          body: JSON.stringify({
            id,
          }),
          headers: {
            "Content-type": "application/json",
          },
        });
        const data = await res.json();
        if (data.message == "ok") location.reload();
      } catch (err) {
        console.log("Something went wrong!\nLook at backend code!");
      }
    };
  }

  form.title.value = "Hello";
  form.body.value = "This is the body!";

  form.onsubmit = async (e) => {
    e.preventDefault();
    const body = {
      title: form.title.value,
      body: form.body.value,
    };
    try {
      const res = await fetch("/postTodo", {
        method: "POST",
        body: JSON.stringify(body),
        headers: {
          "Content-type": "application/json",
        },
      });
      const data = await res.json();
      if (data.message == "ok") location.reload();
    } catch (err) {
      console.log("Something went wrong!\nLook at backend code!");
    }
  };
</script>
