<%- include('partials/header'); -%>

<section id="main">
  <div class="image user">
    <img src="/user.png" alt="" />
  </div>
  <div class="headings">
    <h2>Todo List</h2>
    <h3>Our beloved user:</h3>
    <div class="text">
      <h4>
        <span class="tag">Name:</span> <%= user.name.firstName %> <%=
        user.name.lastName %>
      </h4>
      <h4><span class="tag">Email:</span> <%= user.email %></h4>
    </div>
    <a href="/todos" class="btn">View Your Todos</a>
    <button class="deleteBtn" id="delete_btn">Delete Account</button>
  </div>
</section>

<section id="confirm">
  <div class="box">
    <h2>Are you sure you want to delete your account?</h2>
    <div class="buttons">
      <button class="deleteBtn" id="confirm_btn">Confirm</button>
      <button class="btn cancel login" id="cancel_btn">Cancel</button>
    </div>
  </div>
</section>

<script>
  const delete_btn = document.getElementById("delete_btn");
  const cancel_btn = document.getElementById("cancel_btn");
  const confirm_btn = document.getElementById("confirm_btn");
  const confirm_page = document.getElementById("confirm");

  delete_btn.onclick = () => {
    confirm_page.classList.toggle("active");
  };
  cancel_btn.onclick = () => {
    confirm_page.classList.toggle("active");
  };

  confirm_btn.onclick = async () => {
    try {
      const res = await fetch("/deleteUser", {
        method: "DELETE",
      });
      const data = await res.json();
      if (data.message === "ok") location.assign("/");
    } catch (error) {
      console.log(error);
    }
  };
</script>

<%- include('partials/footer'); -%>
